<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Secret
body
  //- best practice to keep logic out of Jade
  //- less is MORE
  h1 Fo Yo #{role}'s' Eyes Only . . .
  a(href="/logout") Logout
